/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Medium view and over (screen only) - Splash page
 */

main {
	position: relative;

	> {
		div {
			&:before {
				background: url("../assets/sp-pe-leaf.jpg") no-repeat 50%;
				content: " ";
				display: block;
				height: 147px;
				left: 0;
				position: absolute;
				top: 93px;
				width: 100%;
			}
		}
	}

	h2 {
		min-height: 4em;
	}

	section {
		+ {
			section {
				h2 {
					text-align: right;
				}
			}
		}

		.list-unstyled {
			margin-top: 120px;
		}
	}
}
