<!-- TODO: Add i18n -->
<ul class="list-inline">
	<li><a href="http://healthycanadians.gc.ca/index-eng.php"><span>Health</span>healthycanadians.gc.ca</a></li>
	<li><a href="http://www.travel.gc.ca/index-eng.asp"><span>Travel</span>travel.gc.ca</a></li>
	<li><a href="http://www.servicecanada.gc.ca/eng/home.shtml"><span>Service Canada</span>servicecanada.gc.ca</a></li>
	<li><a href="http://www.jobbank.gc.ca/intro-eng.aspx"><span>Jobs</span>jobbank.gc.ca</a></li>
	<li><a href="http://actionplan.gc.ca/{{language}}"><span>Economy</span>actionplan.gc.ca</a></li>
	<li id="canada-ca"><a href="http://www.canada.ca/{{language}}/index.html">Canada.ca</a></li>
</ul>