<object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/assets/sig-{{language}}.svg" aria-label="{{#i18n "tmpl-gc-sig"}}{{/i18n}}"></object>
<ul id="gc-bar" class="list-inline">
	<li><a href="http://canada.ca/{{language}}/index.html" rel="external">Canada.ca</a></li>
	<li><a href="http://www.servicecanada.gc.ca/eng/home.shtml" rel="external">Services</a></li>
	<li><a href="http://www.canada.gc.ca/aboutgov-ausujetgouv/depts/menu-eng.html" rel="external">Departments</a></li>
	{{>languagetoggle}}
</ul>