<li id="wb-lng"><h2>{{#i18n "tmpl-lang-select"}}{{/i18n}}</h2>
	<ul class="list-inline">
{{#isnt language "fr" }}
		<li><a lang="fr" href="{{altLangPrefix}}-fr.html">{{#i18n "lang-native" language="en"}}{{/i18n}}</a></li>
{{/isnt}}
{{#isnt language "en" }}
		<li><a lang="en" href="{{altLangPrefix}}-en.html">{{#i18n "lang-native" language="fr"}}{{/i18n}}</a></li>
{{/isnt}}
	</ul>
</li>