<ul id="gc-tctr" class="list-inline">
	<li><a rel="license" href="http://wet-boew.github.io/wet-boew/License-{{language}}.html">{{{i18n "tmpl-terms"}}}</a></li>
	<li><a href="http://www.tbs-sct.gc.ca/tbs-sct/common/trans-{{i18n "lang-code-iso-639-2"}}.asp">{{{i18n "tmpl-transparency"}}}</a></li>
</ul>
