/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: All views
 */

%breadcrumb-no-icon {
	display: none;
}

#wb-bc {
	ol {
		margin-bottom: 0;
	}

	li {
		&:before {
			color: #333;
			content: "\e092";
			font: {
				family: "Glyphicons Halflings";
				size: 0.7em;
			}
		}

		&:first-child {
			&:before {
				@extend %breadcrumb-no-icon;
			}
		}
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				content: "\e091";
				display: inline-block;
			}

			&:first-child {
				&:before {
					@extend %breadcrumb-no-icon;
				}
			}
		}
	}
}
