/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: All screen views
 */

%fip-height {
	height: 1.5em;
}

%no-breadcrumb-icon {
	content: none;
	padding: 0;
}

%all-view-navigation-links {
	@include navigation-links;
}

.wb-sl {
	background-color: #000;
	color: #fff;
	font-weight: 700;

	&:focus {
		color: #fff;
		text-decoration: none;
	}
}

#wb-bar {
	background: $gc-header-footer-background-color;
	min-height: 2.6em;

	a {
		color: $gc-header-footer-text-color;
	}
}

#gcwu-sig {
	@extend %fip-height;
	margin: 10px 0;
}

#wmms {
	@extend %fip-height;
}

#wb-sttl {
	@extend %all-view-navigation-links;

	a {
		color: #fff !important;

		span {
			line-height: normal;
		}
	}
}

%submenu-colors {
	background-color: $screen-md-submenu-background-color;
	color: $screen-md-submenu-text-color;
}

%gcwu-theme-wb-sm-wb-navcurr {
	background: #0f315b;
	color: #fff;
}

#wb-sm {
	margin-top: -1px;

	.nvbar {
		@include linear-background ($screen-md-menubar-gradient-start, $screen-md-menubar-gradient-end, 1);
		border: {
			top: 1px solid $screen-md-menubar-top-border-color;
			bottom: 4px solid $screen-md-menubar-bottom-border-color;
		}

		ul {
			&.menu {
				margin-bottom: 0;

				> {
					li {
						border-right: 1px solid $screen-md-menuitem-left-border-color;
						padding: 0;

						> {
							a {
								&.wb-navcurr {
									@extend %gcwu-theme-wb-sm-wb-navcurr;
								}

								// :focus not needed since already covered by the &.active state
								&:hover {
									@extend %submenu-colors;
								}
							}
						}

						&.active {
							border-right-color: $screen-md-menuitem-hover-border-color;
						}
					}
				}
			}
		}
	}

	.active {
		a,
		summary {
			@extend %submenu-colors;
		}
	}

	a,
	summary {
		color: $screen-md-menubar-text-color;
		display: block;
		font-weight: 700;
		padding: 0.48em 0.79em;
		text-decoration: none;
	}

	.sm {
		@extend %submenu-colors;
		@extend %medium-view-navigation-links;
		border: {
			bottom: 4px solid $screen-md-submenu-bottom-border-color;
			radius: 0 0 3px 3px;
		}

		a,
		summary {
			@extend %submenu-colors;
			font-weight: 400;

			// TODO: Implement %navigation-links when libsass gets better placeholder support
			&:link {
				text-decoration: none;
			}

			&.wb-navcurr {
				@extend %gcwu-theme-wb-sm-wb-navcurr;
			}

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		.slflnk {
			a {
				background: #bbb;
			}
		}
	}
}

#wb-bc {
	.breadcrumb {
		background: transparent;
		margin-bottom: 0;
	}

	li {
		&:before,
		&:after {
			color: #333;
			font: {
				family: "Glyphicons Halflings";
				size: 0.7em;
			}
		}

		&:before {
			content: "\e092";
		}

		&:first-child {
			&:before {
				@extend %no-breadcrumb-icon;
			}
		}
	}
}

#wb-dtmd {
	float: right;
}

#wb-info {
	li {
		margin-bottom: 0.75em;
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				@extend %no-breadcrumb-icon;
			}

			&:after {
				content: "\e091";
				padding: 0 5px;
			}

			&:first-child {
				&:after {
					@extend %no-breadcrumb-icon;
				}
			}
		}
	}

	#wb-dtmd {
		float: left;
	}
}
