---
{
	"title": "[Institution Name]",
	"language": "en",
	"altLangPrefix": "institution",
	"tag": "theme-gcwu-fegc",
	"breadcrumb2": "true",
	"breadcrumb2-title": "Departments &amp; agencies",
	"breadcrumb2-link": "https://www.canada.ca/en/government/dept.html",
	"hideh1": "true",
	"dateModified": "2018-06-08"
}
---

<p class="pagetag" property="description">[Institution name] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>

<section>
  <h2>Latest</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <figure>
          <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail">
          <figcaption>[News title]</figcaption>
        </figure>
      </a>
      <p class="mrgn-bttm-0"><small><time>YYYY-MM-DD hh:mm</time> – News Release</small></p>
      <p>Brief description of the news item.</p>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <figure>
          <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail">
          <figcaption>[News title]</figcaption>
        </figure>
      </a>
      <p class="mrgn-bttm-0"><small>YYYY-MM-DD hh:mm - News Release</small></p>
      <p>Brief description of the news item.</p>
    </div>
    <div class="col-lg-4 col-xs-12">
      <ul class="list-unstyled lst-spcd">
        <li><a href="#">[News title]</a><time class="small">[YYYY-MM-DD hh:mm]</time></li>
        <li><a href="#">[News title]</a><time class="small">[YYYY-MM-DD hh:mm]</time></li>
        <li><a href="#">[News title]</a><time class="small">[YYYY-MM-DD hh:mm]</time></li>
      </ul>
      <p><strong><a href="#">All news</a></strong></p>
    </div>
  </div>
</section>

<div class="row">
  <section class="col-md-4 col-xs-12 pull-right lnkbx">
    <h2>Most requested</h2>
    <ul>
      <li><a href="#">[Top task hyperlink text]</a></li>
      <li><a href="#">[Top task hyperlink text]</a></li>
      <li><a href="#">[Top task hyperlink text]</a></li>
      <li><a href="#">[Top task hyperlink text]</a></li>
      <li><a href="#">[Top task hyperlink text]</a></li>
      <li><a href="#">[Top task hyperlink text]</a></li>
      <li><a href="#">[Top task hyperlink text]</a></li>
    </ul>
  </section>

  <section class="col-md-8 col-xs-12 pull-left">
    <h2>Services and information</h2>
    <div class="wb-eqht row">
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Topic or sub-topic]</a></h3>
        <p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
      </div>
    </div>
  </section>
  <div class="pull-right col-xs-12 col-md-4">
    <section class="lnkbx">
      <h2>Contact us</h2>
      <ul>
        <li><a href="#">[Contact number link]</a></li>
        <li><a href="#">[Contact number link]</a></li>
        <li><a href="#">[Contact number link]</a></li>
      </ul>
    </section>
    <section class="lnkbx">
      <h2>More information for</h2>
      <ul>
        <li><a href="#">[Audience hyperlink text]</a></li>
        <li><a href="#">[Audience hyperlink text]</a></li>
        <li><a href="#">[Audience hyperlink text]</a></li>
      </ul>
    </section>
  </div>
</div>

<section class="whtwedo">
  <h2>What we are doing</h2>
  <div class="row wb-eqht">
    <section class="col-lg-4 col-md-6">
      <h3>Research</h3>
      <ul>
        <li><a href="#">[Research report 1]</a></li>
        <li><a href="#">[Research report 2]</a></li>
        <li><a href="#">[Launched research study]</a></li>
        <li><a href="#">[Preliminary research result 1]</a></li>
      </ul>
      <p><a href="#">All related research</a></p>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Surveys</h3>
      <ul>
        <li><a href="#">[Survey 1]</a></li>
        <li><a href="#">[Survey 2 with a long heading]</a></li>
        <li><a href="#">[Survey 3]</a></li>
        <li><a href="#">[Survey 4]</a></li>
      </ul>
      <p><a href="#">All related surveys</a></p>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Consultations</h3>
      <ul>
        <li><a href="#">[Consultation 1]</a></li>
        <li><a href="#">[Consultation 2 with a long heading]</a></li>
        <li><a href="#">[Consultation 3]</a></li>
        <li><a href="#">[Consultation 4 with a long heading]</a></li>
      </ul>
      <p><a href="#">All related consultations</a></p>
    </section>
  </div>
</section>

<section class="gc-crprt">
  <h2>Corporate information</h2>
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li><a href="#">Mandate</a></li>
        <li><a href="#">Programs</a></li>
        <li><a href="#">Organizational structure</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Transparency</a></li>
        <li><a href="#">Job opportunities</a></li>
        <li><a href="#">Service performance reporting</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="wb-eqht row">
        <section class="col-md-4">
          <h3>Minister</h3>
          <a href="#">
            <figure>
              <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/218x291.png" alt="" class="img-responsive thumbnail">
              <figcaption>[(Honourable) first and last name of Minister]</figcaption>
            </figure>
          </a>
          <p class="mrgn-tp-sm">Minister's official title</p>
        </section>
        <section class="col-md-4">
          <h3>Minister</h3>
          <a href="#">
            <figure>
              <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/218x291.png" alt="" class="img-responsive thumbnail">
              <figcaption>[(Honourable) first and last name of Minister]</figcaption>
            </figure>
          </a>
          <p class="mrgn-tp-sm">Minister's official title</p>
        </section>
        <section class="col-md-4">
          <h3>Management</h3>
          <a href="#">
            <figure>
              <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/218x291.png" alt="" class="img-responsive thumbnail">
              <figcaption>[(Honourable) first and last name of Minister]</figcaption>
            </figure>
          </a>
          <p class="mrgn-tp-sm">Minister's official title</p>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="gc-prtts">
  <h2>Features</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mrgn-bttm-md">
      <a href="#">
        <figure>
          <figcaption>[Feature hyperlink text]</figcaption>
          <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
          <p>Brief description of the feature being promoted.</p>
        </figure>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 mrgn-bttm-md">
      <a href="#">
        <figure>
          <figcaption>[Feature hyperlink text]</figcaption>
          <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
          <p>Brief description of the feature being promoted.</p>
        </figure>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 mrgn-bttm-md">
      <a href="#">
      <figure>
        <figcaption>[Feature hyperlink text]</figcaption>
        <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
        <p>Brief description of the feature being promoted.</p>
      </figure>
      </a>
    </div>
  </div>
</section>
