---
{
	"title": "[Nom de l’institution]",
	"language": "fr",
	"altLangPrefix": "institution",
	"tag": "theme-gcwu-fegc",
	"breadcrumb2": "true",
	"breadcrumb2-title": "Ministères et organismes",
	"breadcrumb2-link": "https://www.canada.ca/fr/gouvernement/min.html",
	"hideh1": "true",
	"dateModified": "2018-06-08"
}
---

<p class="pagetag" property="description">[Nom de l’institution] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>

<section>
  <h2>Nouveautés</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <figure>
          <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail">
          <figcaption>[Titre de l’article]</figcaption>
        </figure>
      </a>
      <p class="mrgn-bttm-0"><small><time>AAAA-MM-JJ hh:mm</time> – Type de produit médiatique</small></p>
      <p>Brève description de la nouvelle.</p>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="#">
        <figure>
          <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail">
          <figcaption>[Titre de l’article]</figcaption>
        </figure>
      </a>
      <p class="mrgn-bttm-0"><small>AAAA-MM-JJ hh:mm - Type de produit médiatique</small></p>
      <p>Brève description de la nouvelle.</p>
    </div>
    <div class="col-lg-4 col-xs-12">
      <ul class="list-unstyled lst-spcd">
        <li><a href="#">[Titre de l’article]</a><time class="small">[AAAA-MM-JJ hh:mm]</time></li>
        <li><a href="#">[Titre de l’article]</a><time class="small">[AAAA-MM-JJ hh:mm]</time></li>
        <li><a href="#">[Titre de l’article]</a><time class="small">[AAAA-MM-JJ hh:mm]</time></li>
      </ul>
      <p><strong><a href="#">Toutes les nouvelles</a></strong></p>
    </div>
  </div>
</section>

<div class="row">
  <section class="col-md-4 col-xs-12 pull-right lnkbx">
    <h2>En demande</h2>
    <ul>
      <li><a href="#">[Lien à une tâche principale]</a></li>
      <li><a href="#">[Lien à une tâche principale]</a></li>
      <li><a href="#">[Lien à une tâche principale]</a></li>
      <li><a href="#">[Lien à une tâche principale]</a></li>
      <li><a href="#">[Lien à une tâche principale]</a></li>
      <li><a href="#">[Lien à une tâche principale]</a></li>
      <li><a href="#">[Lien à une tâche principale]</a></li>
    </ul>
  </section>

  <section class="col-md-8 col-xs-12 pull-left">
    <h2>Services et renseignements</h2>
    <div class="wb-eqht row">
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
      <div class="col-md-6">
        <h3 class="h5"><a href="#">[Suject ou sous-sujet]</a></h3>
        <p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
      </div>
    </div>
  </section>
  <div class="pull-right col-xs-12 col-md-4">
    <section class="lnkbx">
      <h2>Contactez-nous</h2>
      <ul>
        <li><a href="#">[Lien du numéro de contact]</a></li>
        <li><a href="#">[Lien du numéro de contact]</a></li>
        <li><a href="#">[Lien du numéro de contact]</a></li>
      </ul>
    </section>
    <section class="lnkbx">
      <h2>Autres renseignements pour les</h2>
      <ul>
        <li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
        <li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
        <li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
      </ul>
    </section>
  </div>
</div>

<section class="whtwedo">
  <h2>Ce que nous faisons</h2>
  <div class="row wb-eqht">
    <section class="col-lg-4 col-md-6">
      <h3>La recherche</h3>
      <ul>
        <li><a href="#">[Notre étude 1]</a></li>
        <li><a href="#">[Notre étude 2 avec un long titre]</a></li>
        <li><a href="#">[Notre étude 3 avec un long titre]</a></li>
        <li><a href="#">[La recherche 4]</a></li>
      </ul>
      <p><a href="#">Tous les rapports d’étude connexes</a></p>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Enquêtes</h3>
      <ul>
        <li><a href="#">[Enquête 1]</a></li>
        <li><a href="#">[Enquête 2 avec un long titre]</a></li>
        <li><a href="#">[Enquête 3]</a></li>
        <li><a href="#">[Enquête 4]</a></li>
      </ul>
      <p><a href="#">Toutes les enquêtes connexes</a></p>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Consultations</h3>
      <ul>
        <li><a href="#">[Consultation 1]</a></li>
        <li><a href="#">[Consultation 2 avec un long titre]</a></li>
        <li><a href="#">[Consultation 3]</a></li>
        <li><a href="#">[Consultation 4 avec un long titre]</a></li>
      </ul>
      <p><a href="#">Toutes les consultations connexes</a></p>
    </section>
  </div>
</section>

<section class="gc-crprt">
  <h2>Renseignements sur l’organisation</h2>
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li><a href="#">Mandat</a></li>
        <li><a href="#">Programmes</a></li>
        <li><a href="#">Structure organisationnelle</a></li>
        <li><a href="#">Portefeuille</a></li>
        <li><a href="#">Partenaires</a></li>
        <li><a href="#">Transparence</a></li>
        <li><a href="#">Possibilités d’emplois</a></li>
        <li><a href="#">Compte rendu du rendement des services</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="wb-eqht row">
        <section class="col-md-4">
          <h3>Ministre</h3>
          <a href="#">
            <figure>
              <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/218x291.png" alt="" class="img-responsive thumbnail">
              <figcaption>[L’honorable (nom du ministre)]</figcaption>
            </figure>
          </a>
          <p class="mrgn-tp-sm">Titre officiel du ministre</p>
        </section>
        <section class="col-md-4">
          <h3>Ministre</h3>
          <a href="#">
            <figure>
              <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/218x291.png" alt="" class="img-responsive thumbnail">
              <figcaption>[L’honorable (nom du ministre)]</figcaption>
            </figure>
          </a>
          <p class="mrgn-tp-sm">Titre officiel du ministre</p>
        </section>
        <section class="col-md-4">
          <h3>Direction</h3>
          <a href="#">
            <figure>
              <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/218x291.png" alt="" class="img-responsive thumbnail">
              <figcaption>[L’honorable (nom du ministre)]</figcaption>
            </figure>
          </a>
          <p class="mrgn-tp-sm">Titre officiel du ministre</p>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="gc-prtts">
  <h2>En vedette</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mrgn-bttm-md">
      <a href="#">
        <figure>
          <figcaption>[Lien à l’élément en vedette]</figcaption>
          <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
          <p>Brève description de l’élément en vedette.</p>
        </figure>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 mrgn-bttm-md">
      <a href="#">
        <figure>
          <figcaption>[Lien à l’élément en vedette]</figcaption>
          <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
          <p>Brève description de l’élément en vedette.</p>
        </figure>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 mrgn-bttm-md">
      <a href="#">
      <figure>
        <figcaption>[Lien à l’élément en vedette]</figcaption>
        <img src="http://wet-boew.github.io/themes-dist/GCWeb/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
        <p>Brève description de l’élément en vedette.</p>
      </figure>
      </a>
    </div>
  </div>
</section>
