/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: All screen views
 */

%fip-height {
	height: 1.5em;
}

%no-breadcrumb-icon {
	content: none;
	padding: 0;
}

.wb-slc {
	a {
		color: #FFF;
	}
}

#wb-bar {
	background: $gc-header-footer-background-color;
	min-height: 2.6em;
}

#gcwu-sig {
	@extend %fip-height;
	margin: 10px 0;
}

#wmms {
	@extend %fip-height;
}

#wb-sttl {
	a {
		color: #FFFFFF !important;

		// TODO: Implement %navigation-links when libsass gets better placeholder support
		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

#wb-bc {
	.breadcrumb {
		margin-bottom: 0;
		background: transparent;
	}

	li {
		&:before, &:after {
			font: {
				family: "Glyphicons Halflings";
				size: 0.7em;
			}
			color: #333;
		}
		&:before {
			content: "\e092";
		}

		&:first-child {
			&:before {
				@extend %no-breadcrumb-icon;
			}
		}
	}
}

#wb-dtmd {
	float: right;
	margin: 1em 0 0 0;

	dt, dd {
		display: inline;
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				@extend %no-breadcrumb-icon;
			}
			&:after {
				content: "\e091";
				padding: 0 5px;
			}
			&:first-child {
				&:after {
					@extend %no-breadcrumb-icon;
				}
			}
		}
	}

	#wb-dtmd {
		float: left;
	}
}