/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Medium view and over (screen only)
 */

%page-background {
	background-color:#FFF;
	border: {
		left: 1px solid $mediumview-page-border-color;
		right: 1px solid $mediumview-page-border-color;
	}
}

%submenu-colors {
	background-color: $mediumview-submenu-background-color;
	color: $mediumview-submenu-text-color;
}

%search-controls-overrides {
	border-radius: 2px;
	height: 26px;
}

%brand-height {
	height: 2em;
}

%float-left {
	float: left;
}

%float-right {
	float: right;
}

// TODO: Implement when libsass gets better placeholder support
// %navigation-links {
//	a {
//		&:link {
//			text-decoration: none;
//		}
//
//		&:hover, &:focus {
//			text-decoration: underline;
//		}
//	}
//}
//

body {
	background: {
		image: url(../assets/header-leaf.jpg), url(../assets/header-bg.jpg);
		repeat: no-repeat, repeat-x;
		position: center 2.7em;
	}
}

#gcwu-sig {
	position: absolute;
}

#wmms {
	@extend %brand-height;
	@extend %float-right;
	margin-top: 2.3em;
	margin-right: 10px;
}

#wb-bar {
	line-height: 1;
}

#gc-bar {
	@extend %float-right;
	margin: 15px 0;

	li {
		padding:0;
	}

	a {
		border-left: 1px solid $gc-header-footer-divider-color;
		padding: 0 0.5em;

		// TODO: Implement %navigation-links when libsass gets better placeholder support
		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	> {

		li {
			&:first-child {
				a {
					border-left: 0;
				}
			}
		}
	}

	ul {
		li {
			a {
				border-right: 1px solid $gc-header-footer-divider-color;
			}

			&:last-child {
				a {
					border-right: 0;
				}
			}
		}
	}
}

#wb-bnr {
	> {
		.container {
			position: relative;
		}
	}
}

#wb-sttl {
	margin: {
		top: 5px;
		bottom: 5px;
	}
	display: table-row;
	a {
		font-size: 1.9em;
		text-shadow: 1px 1px 1px $mediumview-banner-text-shadow-color;
		display: table-cell;
		vertical-align: middle;
		height: 3.6em;
		span {
			margin-left: -15px;
		}
	}
}

#wb-srch {
	@extend %float-right;
	background: #146094;
	border: {
		left: 1px solid $mediumview-menubar-side-border-color;
		right: 1px solid $mediumview-menubar-side-border-color;
		top: 1px solid $mediumview-menubar-top-border-color;
	}
	padding: 11px 10px 6px 12px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;

	input {
		@extend %search-controls-overrides;
		padding: 2px 0;
	}

	.btn {
		@extend %search-controls-overrides;
		@include linear-background ($mediumview-search-button-gradient-start, $mediumview-search-button-gradient-end);
		padding: 2px 6px;
		line-height: 1;
	}
}

#wb-sm {
	margin-top: -1px;
	.nvbar {
		@include linear-background ($mediumview-menubar-gradient-start, $mediumview-menubar-gradient-end, 1);
		border: {
			top: 1px solid $mediumview-menubar-top-border-color;
			bottom: 4px solid $mediumview-menubar-bottom-border-color;
		}

		ul {
			&.menu {
				margin-bottom: 0;
				> {
					li {
						padding: 0;
						border: {
							left: 1px solid $mediumview-menuitem-left-border-color;
							right: 1px solid $mediumview-menuitem-left-border-color;
						}

						&.active {
							border: {
								left-color: $mediumview-menuitem-hover-border-color;
								right-color: $mediumview-menuitem-hover-border-color;
							}
						}
					}
				}
			}
		}
	}

	.active {
		a {
			@extend %submenu-colors;
		}
	}
	
	a {
		display: block;
		color: $mediumview-menubar-text-color;
		font: {
			weight: 700;
			size: 90%;
		}
		padding: 0.48em 1.17em 0.48em 0.79em;
		text-decoration: none;
	}

	.sm {
		@extend %submenu-colors;
		border: {
			bottom: 4px solid $mediumview-submenu-bottom-border-color;
			radius: 0 0 3px 3px;
		}
		box-shadow: 0 5px 5px -4px $mediumview-submenu-shadow-color, 5px 5px 5px -4px $mediumview-submenu-shadow-color, -5px 5px 5px -4px $mediumview-submenu-shadow-color;

		a {
			@extend %submenu-colors;
			font-weight: 400;

			// TODO: Implement %navigation-links when libsass gets better placeholder support
			&:link {
				text-decoration: none;
			}

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
}

#wb-bc {
	.container {
		@extend %page-background;
	}
}

body {
	> {
		main {
			@extend %page-background;
		}

		header + .container {
			@extend %page-background;
		}
	}
}

#wb-cont {
	margin-top: 0;
}

#wb-sec {
	> {
		ul {
			> {
				li {
					> {
						:first-child {
							background: $mediumview-sec-menuitem-top-background-color;
						}
					}
					
				}
			}
		}
	}

	a {
		border-radius: 0;
		border: 1px solid $mediumview-sec-menuitem-border-color;
		margin-top: -1px;
		// TODO: Implement %navigation-links when libsass gets better placeholder support
		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	.list-group {
		margin-bottom: 0;
		
		.list-group {
			.list-group-item {
				padding-left: 1.8em;
			}
		}
	}
}

#wb-info {
	background: $mediumview-footer-background-color url(../assets/sft-deco.gif) repeat-x scroll center top;

	> {
		.container {
			background: transparent url(../assets/sft-deco-leaf.gif) no-repeat top center;

			> {
				:before {
					@extend %page-background;
					background: transparent;
					content: " ";
					margin: {
						left: -15px;
						right: -15px;
					}
					display: block;
					height: 25px;
				}
			}
		}
	}

	h2, h3 {
		font: {
			size: 120%;
			weight: 700;
		}
	}

	li {
		line-height: 2;
	}

	a {
		color: #000;

		// TODO: Implement %navigation-links when libsass gets better placeholder support
		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

#gc-info {
	background-color: $gc-header-footer-background-color;
	margin-top: 10px;

	ul {
		margin: 0;
	}

	li {
		margin: 12px 0 13px 40px;
		line-height: normal;
		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: $gc-header-footer-text-color;
		span {
			font-weight: 700;
			text-transform: uppercase;

			&:after {
				content:"\a";
				white-space: pre;
			}
		}
	}
}

#gc-tctr {
	padding: {
		top: 5px;
		right: 0;
	}

	> {
		:first-child {
			border-right: 1px solid $mediumview-notices-border-color;
			padding-right: 10px;
			line-height: 1.5
		}
	}
}

#canada-ca {
	@extend %float-right;
	margin: 1em 0 !important;
	a {
		border-left: 1px solid $mediumview-canadaca-divider-color;
		padding-left: 44px;
		display: inline-block;
		vertical-align: middle;
		font-size: 160%
	}
}

[dir=rtl] {
	#wmms {
		@extend %float-left;
	}

	#gc-bar {
		@extend %float-left;

		a {
			border: {
				left: 0;
				right: 1px solid $gc-header-footer-divider-color;
			}
		}

		> {
			&:first-child {
				a {
					border-right: 0;
				}
			}
		}

		ul {
			padding: 0;
			li {
				a {
					border-right: 1px solid $gc-header-footer-divider-color;
				}
			}
		}
	}

	#wb-srch {
		@extend %float-left;
	}


	#gc-info {
		li {
			margin: 12px 40px 13px 0;

			&:first-child {
				margin-right: 0;
			}
		}
	}

	#gc-tctr {
		> {
			:first-child {
				border: {
					left: 1px solid $mediumview-notices-border-color;
					right: 0;
				}
				padding: {
					left: 10px;
					right: 0;
				}
			}
		}
	}

	#canada-ca {
		@extend %float-left;

		a {
			border: {
				left: 0;
				right: 1px solid $mediumview-canadaca-divider-color;
			}
			padding: {
				left: 0;
				right: 44px;
			}
		}
	}
}