/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Medium view and over (screen only)
 */

$search-button-gradient-start: #F0F0F0;
$search-button-gradient-end: #CCC;
$navigation-bar-gradient-start: #146094;
$navigation-bar-gradient-end: #23447E;

%page-background {
	background-color:#FFF;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

%submenu-colors {
	background-color: #CCC;
	color: #000;
}

%search-controls-overrides {
	border-radius: 2px;
	height: 26px;
}

%brand-height {
	height: 2em;
}

%float-left {
	float: left;
}

%float-right {
	float: right;
}

@mixin linear-background($start-color, $end-color) {
	background-image: linear-gradient($start-color, $end-color);
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$start-color}', endColorstr='#{$end-color}')");
}

// TODO: Implement when libsass gets better placeholder support
// %navigation-links {
//	a {
//		&:link {
//			text-decoration: none;
//		}
//
//		&:hover, &:focus {
//			text-decoration: underline;
//		}
//	}
//}
//

body {
	background: {
		image: url(../assets/header-leaf.jpg), url(../assets/header-bg.jpg);
		repeat: no-repeat, repeat-x;
		position: center 2.7em;
	}
}

#gcwu-sig {
	position: absolute;
}

#wmms {
	@extend %brand-height;
	@extend %float-right;
}

#wb-bar {
	line-height: 1;
}

#gc-bar {
	@extend %float-right;
	margin: 15px 0;

	li {
		padding:0;
	}

	a {
		color: #FFF;
		border-left: 1px solid #FFF;
		padding: 0 0.5em;

		// TODO: Implement %navigation-links when libsass gets better placeholder support
		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	> {

		li {
			&:first-child {
				a {
					border-left: 0;
				}
			}
		}
	}

	ul {
		li {
			a {
				border-right: 1px solid #FFF;
			}

			&:last-child {
				a {
					border-right: 0;
				}
			}
		}
	}
}

#wb-bnr {
	min-height: 167px;
}

#wb-sttl {
	min-height: 2em;
	margin-top: 40px;
	margin-bottom: 5px;
	a {
		position: absolute; //Required to allow multiline site titles
		font-size: 1.9em;
		text-shadow: 1px 1px 1px #333;
	}
}

#wb-srch {
	@extend %float-right;
	background: #146094;
	border-left: 1px solid #15527D;
	border-right: 1px solid #15527D;
	border-top: 1px solid #87AEC9;
	padding: 11px 10px 6px 12px;
	margin-bottom: -1px;
	position: relative;
	z-index: 2;

	input {
		@extend %search-controls-overrides;
		padding: 2px 0;
	}

	.btn {
		@extend %search-controls-overrides;
		@include linear-background ($search-button-gradient-start, $search-button-gradient-end);
		padding: 2px 6px;
		line-height: 1;
	}
}

#wb-sm {
	margin-top: -1px;
	.nvbar {
		background-color: #146094;
		@include linear-background ($navigation-bar-gradient-start, $navigation-bar-gradient-end);
		border-top: 1px solid #87AEC9;
		border-bottom: 4px solid #CCCCCC;

		ul
		 {
			&.menu {
				margin-bottom: 0;
				> {
					li {
						padding: 0;
						border-left: 1px solid #124B79;
						border-right: 1px solid #15598F;

						&.active {
							border-left-color: #CCC;
							border-right-color: #CCC;
						}
					}
				}
			}
		}
	}

	.active {
		a {
			@extend %submenu-colors;
		}
	}
	
	a {
		display: block;
		color: #FFF;
		font-weight: 700;
		font-size: 90%;
		padding: 0.48em 1.17em 0.48em 0.79em;
		text-decoration: none;
	}

	.sm {
		@extend %submenu-colors;
		border-bottom: 4px solid #0F315B;
		box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.5), 5px 5px 5px -4px rgba(0, 0, 0, 0.5), -5px 5px 5px -4px rgba(0, 0, 0, 0.5);
		border-radius: 0 0 3px 3px;

		a {
			@extend %submenu-colors;
			font-weight: 400;

			// TODO: Implement %navigation-links when libsass gets better placeholder support
			&:link {
				text-decoration: none;
			}

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
}

#wb-bc {
	.container {
		@extend %page-background;
	}
}

body {
	> {
		main {
			@extend %page-background;
		}

		header + .container {
			@extend %page-background;
		}
	}
}

#wb-info {
	background: url(../assets/sft-deco.gif) repeat-x scroll center top #EFEFEF;

	> {
		.container {
			background: transparent url(../assets/sft-deco-leaf.gif) no-repeat top center;

			> {
				:before {
					@extend %page-background;
					background: transparent;
					content: " ";
					margin-left: -15px;
					margin-right: -15px;
					display: block;
					height: 25px;
				}
			}
		}
	}

	h2, h3 {
		font-size: 120%;
		font-weight: 700;
	}

	li {
		line-height: 2;
	}

	a {
		color: #000;

		// TODO: Implement %navigation-links when libsass gets better placeholder support
		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

#gc-info {
	background-color: #000;
	margin-top: 10px;

	ul {
		margin: 0;
	}

	li {
		margin: 12px 0 13px 48px;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: #FFF;
		span {
			font-weight: 700;
			text-transform: uppercase;

			&:after {
				content:"\a";
				white-space: pre;
			}
		}
	}
}

#gc-tctr {
	padding-top: 5px;
	padding-right: 0;

	> {
		:first-child {
			border-right: 1px solid #999999;
			padding-right: 10px;
			line-height: 1.5
		}
	}
}

#canada-ca {
	@extend %float-right;

	a {
		border-left: 1px solid #666;
		padding-left: 44px;
		display: inline-block;
		vertical-align: middle;
		font-size: 160%
	}
}

[dir=rtl] {
	#wmms {
		@extend %float-left;
	}

	#gc-bar {
		@extend %float-left;

		a {
			border-left: 0;
			border-right: 1px solid #FFF;
		}

		> {
			&:first-child {
				a {
					border-right: 0;
				}
			}
		}

		ul {
			padding: 0;
			li {
				a {
					border-right: 1px solid #FFF;
				}
			}
		}
	}

	#wb-srch {
		@extend %float-left;
	}


	#gc-info {
		li {
			margin: 12px 48px 13px 0;

			&:first-child {
				margin-right: 0;
			}
		}
	}

	#gc-tctr {

		> {
			:first-child {
				border-right: 0;
				padding-right: 0;
				border-left: 1px solid #999999;
				padding-left: 10px;
			}
		}
	}

	#canada-ca {
		@extend %float-left;

		a {
			border-left: 0;
			border-right: 1px solid #666;
			padding-left: 0;
			padding-right: 44px;
		}
	}
}