/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and over (screen only)
 */
#wb-info {
	@include navigation-links;
	background: $mediumview-footer-background-color url(../assets/sft-deco.gif) repeat-x scroll center top;

	> {
		.container {
			background: transparent url(../assets/sft-deco-leaf.gif) no-repeat top center;

			> {
				:before {
					@extend %page-background;
					background: transparent;
					content: " ";
					margin: {
						left: -15px;
						right: -15px;
					}
					display: block;
					height: 25px;
				}
			}
		}
	}

	h2, h3 {
		font: {
			size: 120%;
			weight: 700;
		}
	}
}

#gc-info {
	background-color: $gc-header-footer-background-color;
	margin-top: 10px;

	ul {
		margin: 0;
	}

	li {
		margin: 12px 0 13px 40px;
		line-height: normal;
		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: $gc-header-footer-text-color;
		span {
			font-weight: 700;
			text-transform: uppercase;

			&:after {
				content:"\a";
				white-space: pre;
			}
		}
	}
}

#gc-tctr {
	padding: {
		top: 5px;
		right: 0;
	}
	margin-bottom: 0;

	> {
		:first-child {
			border-right: 1px solid $mediumview-notices-border-color;
			padding-right: 10px;
			line-height: 1.5
		}
	}
}

#canada-ca {
	@extend %float-right;
	margin: 1em 0 !important;
	padding-right: 0;
	a {
		border-left: 1px solid $mediumview-canadaca-divider-color;
		padding-left: 44px;
		display: inline-block;
		vertical-align: middle;
		font-size: 160%
	}
}

[dir=rtl] {
	#gc-info {
		ul {
			padding-right: 0;
		}
		li {
			margin: 12px 40px 13px 0;

			&:first-child {
				margin-right: 0;
			}
		}
	}

	#gc-tctr {
		> {
			:first-child {
				border: {
					left: 1px solid $mediumview-notices-border-color;
					right: 0;
				}
				padding: {
					left: 10px;
					right: 0;
				}
			}
		}
	}

	#canada-ca {
		@extend %float-left;
		padding-right: 0;
		padding-left: 5px;
		a {
			border: {
				left: 0;
				right: 1px solid $mediumview-canadaca-divider-color;
			}
			padding: {
				left: 0;
				right: 44px;
			}
		}
	}
}
