/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and under (screen only)
 */

%small-view-display-none {
	display: none;
}

#gcwu-sig {
	@extend %small-view-display-none;
}

#wmms {
	position: absolute;
	top: 0.35em;
	margin-left: 15px;
}

#gc-bar {
	@extend %small-view-display-none;
}

#wb-bar {
	min-height: 2.2em;
}

#wb-bnr {
	background: {
		color: $smallview-banner-gradient-end;
		image: linear-gradient($smallview-banner-gradient-start, $smallview-banner-gradient-start, $smallview-banner-gradient-end);
	}
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$smallview-banner-gradient-start}', endColorstr='#{$smallview-banner-gradient-end}')");
}

#wb-sttl {
	position: relative;
	a {
		font-size: 1.5em;
		text-shadow: 0 1px 1px $smallview-banner-text-shadow-color;
	}
}

#wb-glb-mn {
	.pnl-btn {
		position: relative;
		float: right;
		width: 50%;
		z-index: 2;
		margin-bottom: 0;
		li {
			padding: 3px 0 0;
			width: 100%;
		}
		a {
			color: $gc-header-footer-text-color;
			font-size: 1.5em;
			display: block;
			width: 100%;
		}
	}
}

#mb-pnl {
	header {
		background-color: $smallview-menu-header-background-color;
	}

	nav {
		a {
			color: $smallview-menu-links-color;
			text-decoration: none;
		}
	}

	summary {
		&:hover, &:focus {
			background: transparent;
		}
	}

	.lng-ofr {
		text-align: right;
	}
}

#wb-bc {
	@include linear-background($smallview-breadcrumb-bar-gradient-start, $smallview-breadcrumb-bar-gradient-end);
}

[dir=rtl] {
	#wmms {
		right: 0;
	}

	#wb-glb-mn {
		> {
			ul {
				text-align: left;
			}
		}
	}
}