/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and under (screen only)
 */

%small-view-display-none {
	display: none;
}

#gcwu-sig {
	@extend %small-view-display-none;
}

#wmms {
	position: absolute;
	left: 0;
	top: -2em;
}

#gc-bar {
	@extend %small-view-display-none;
}

#wb-bnr {
	background-image: linear-gradient(#4474AD, #4474AD, #174F88);

	.row {
		margin: 0;
	}
}

#wb-sttl {
	position: relative;
	a {
		font-size: 1.5em;
		text-shadow: 0 1px 1px #044062;
	}
}

#wb-glb-mn {
	padding: 0;

	> ul {
		margin: 10px 0;

		a {
			color: #FFF;
		}
	}

	header {
		background-color: #174F88;
	}

	nav {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	summary {
		&:hover, &:focus {
			background: transparent;
		}
	}

	.lng-ofr {
		text-align: right;
	}
}

#wb-bc {
	background: linear-gradient(#F0EFEF, #DFDFDD) repeat scroll 0 0 / 100% auto #DFDFDD;
}