/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and under (screen only)
 */

$banner-gradient-start: #4474AD;
$banner-gradient-end: #174F88;
$breadcrumb-bar-gradient-start: #F0EFEF;
$breadcrumb-bar-gradient-end: #DFDFDD;

%small-view-display-none {
	display: none;
}

#gcwu-sig {
	@extend %small-view-display-none;
}

#wmms {
	position: absolute;
	left: 0;
	top: -2.5em;
}

#gc-bar {
	@extend %small-view-display-none;
}

#wb-bnr {
	background: {
		color: $banner-gradient-end;
		image: linear-gradient($banner-gradient-start, $banner-gradient-start, $banner-gradient-end);
	}
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$banner-gradient-start}', endColorstr='#{$banner-gradient-end}')");

	.row {
		margin: 0;
	}
}

#wb-sttl {
	position: relative;
	a {
		font-size: 1.5em;
		text-shadow: 0 1px 1px #044062;
	}
}

#wb-glb-mn {
	padding: 0;

	> ul {
		margin: 10px 0;

		a {
			color: #FFF;
			font-size: 1.5em;
		}
	}

	header {
		background-color: #174F88;
	}

	nav {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	summary {
		&:hover, &:focus {
			background: transparent;
		}
	}

	.lng-ofr {
		text-align: right;
	}
}

#wb-bc {
	@include linear-background($breadcrumb-bar-gradient-start, $breadcrumb-bar-gradient-end);
}

[dir=rtl] {
	#wmms {
		right: 0;
	}

	#wb-glb-mn {
		> {
			ul {
				text-align: left;
			}
		}
	}
}